
@media screen and (min-width: 770px) {
  .overlay {
    display: none;
}
  
.open-btn, .closebtn {
    display: none;
}

}
@media screen and (min-width: 430px){
  .overlay .icons img{
      padding: 0px 28px;
  }
}

  @media screen and (max-width: 770px) {
    .test {
        padding-left: 25px;
    }

    .body-content{
      width:100vw
    }

  .menu{
    background-color:white;
    position: fixed;
    width:64px;
    height:64px;
    border-radius: 50%;
    text-align: center;
    left:0;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
    margin-bottom:40px;
  }

  .roles{
    padding-top:35px;
    padding-left:7%
  }

  .open-btn {
    font-size:30px;
    cursor:pointer;
}
    #myNav{
      display: none;
    }
    
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
    
    .overlay {
        display: none;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
      }
      
      .overlay-content {
        margin-top: 15%;
      }
      
      .overlay a {
        transition: 0.3s;
      }
      
      
      .overlay .closebtn {
        position: absolute;
        top: 0;
        right: 45px;
        font-size: 60px;
        color: rebeccapurple
      }
    
  }
  
  @media screen and (max-width: 375px) {
    .test {
        padding-left:10px;
    }
    .icons img {
        width:85px
    }
}

@media screen and (max-width: 325px) {
    .icons img {
        width: 72px
    }

}