body{
    margin:0;
    padding:0;
    font-family: monospace;
}

main {
    overflow: hidden;
    height: 750px;
}

aside{
    border:2px solid black;
    height:100vh;
    position:fixed;
    white-space: nowrap;
    overflow:clip;
}

.icons{
    border: 1px solid black;
    position:absolute;
    bottom:0;
    border-right:none;
}

.icons img:not(:last-child){
    border-right:1px solid black;
}

.icons img{
    padding-right:12px;
    padding-left:12px;
}

.nav{
   text-align: center;
   padding-top:30px;
   width:50%;
   margin:0px auto;
   font-size:26px;
}

.nav li a{
    padding-bottom:30px;
    color:rgb(158,187,255);
    font-weight: bolder;
}

.roles{
    font-size:48px;
    font-weight: bolder;
    padding-top:20px;
    padding-left:50px;
}

.dot{
    font-size: 64px;
    font-weight:bold;
    color:#AE5DFF;
}  

/* #projects .project-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
} */

.body-content {
    height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
}